{% extends 'base.html.twig' %}

{% block title %}Voici la fiche de {% endblock %}

{% block body %}
{% for categories in id.categorie == {{ idMovie }} %}
    <li>LA catégorie du fiml est {{ categorie.name }}</li>
    {% endfor %}
    {% for acteur in id.acteurs == {{ idMovie }} %}
        <li>L'acteur du film ce nomme: {{ acteurs.name }}</li>
    {% endfor %}
{% endblock %}
