{% extends 'base.html.twig' %}

{% block title %}Hello FichesController!{% endblock %}

{% block body %}
{% for movies in movie %}
    <li>{{ movie.name }}<ah href="127.0.0.1:8000/movie/{{ id }}">vue here</ah></li>
{% endfor %}
{% endblock %}
